<!-- <%= form_for @comment do |f| %>
    <p>
    <%= f.label :input %>
    <%= f.text_field :input %>
  </p>
  <%= f.submit %>
<% end %> -->

<!-- comment has:

id
input => form
name = @current_user.name
blog_id = params["id"]
user_id = @current_user.id -->

<%= form_for @comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :input %>
    <%= f.text_field :input %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
