<h1>Editing User</h1>

<%= render 'form', user: @blog %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blog_path %>

<div class="controls">
  <%= link_to("Add Comment", "/blog/#{@blog.id}/add") %>
  <%= link_to("Edit Comment", "/blog/#{@blog.id}/edit") %>
  <%= link_to("Delete Comment", "/blog/#{@blog.id}", method: :delete, data: { confirm: "Are you sure?" }) %>
</div>
