<div class="container">
  <% @all_blogs.each do |blog| %>

  <div class="section">
    <h4><%= link_to(blog.title, "/blog/#{blog.id}") %></h4>
  </div>

  <div class="divider"></div>

  <% end %>
</div>

<!-- <div class="row">
      <div class="blog 1">Best Cafes in Melbourne</div>
      <%= link_to "Click here", "/blog/show" %>

      <div class="blog 2">Best Restaurants in Melbourne</div>
      <%= link_to "Click here", "/blog/show" %>

      <div class="blog 1">Best BYO Restaurants in Melbourne</div>
      <%= link_to "Click here", "/blog/show" %>

      <div class="blog 1">Best Brunch spots in Melbourne</div>
      <%= link_to "Click here", "/blog/show" %>

      <div class="blog 1">Best American Barbeque in Melbourne</div>
      <%= link_to "Click here", "/blog/show" %> -->
