<h4><% @blog.title %></h4>
<h5><%= @blog.tagline %></h5>
<h6> <%= @blog.copy %></h6>

<img src="https://www.broadsheet.com.au/media/cache/94/97/949766164220ab431bc5480e7eb1020c.jpg">

<div class="controls">
  <%= link_to("Add Comment", "/blog/#{@blog.id}/new") %>
  <%= link_to("Edit Comment", "/blog/#{@blog.id}/update") %>
  <%= link_to("Delete Comment", "/blog/#{@blog.id}", method: :delete, data: { confirm: "Are you sure?" }) %>
</div>

<!-- <%= link_to "Visit Website", "/blog/show" %> -->

<% @blog.comments.each do |comment| %>
  <div>
    <strong><%= comment.user.name %></strong>
    <br>
    <p><%= comment.input %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>

<% if @current_user.present? %>

  <%= form_for @comment do |f| %>
      <p>
        <!-- <%= f.label :input %> -->
        <%= f.hidden_field :blog, :value => params["id"] %>

      <%= f.label :input %>
      <%= f.text_field :input %>
    </p>
    <%= f.submit %>
  <% end %>

<% end %>
