<h4><% @blog.title %></h4>

<h5><%= @blog.tagline %></h5>
<h6> <%= @blog.copy %></h6>

<div class="controls">
  <%= link_to("Add Comment", "/blog/#{@blog.id}/new") %>
  <%= link_to("Edit Comment", "/blog/#{@blog.id}/update") %>
  <%= link_to("Delete Comment", "/blog/#{@blog.id}", method: :delete, data: { confirm: "Are you sure?" }) %>
</div>

<!-- <%= link_to "Visit Website", "/blog/show" %> -->

<% @comments.each do |comment| %>
  <div>
    <strong><%= comment.user_name %></strong>
    <br>
    <p><%= comment.body %></p>
    <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
