<div class="row">
      <div class="club">The Breakfast Club</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="thieves">The Breakfast Thieves</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="Au79">Au79</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="andorra">Little Andorra</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="sunshine">Sunshine Social</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="whitehart">Whitehart</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="mulligan">Buck Mulligan</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="nighthawk">Nighthawk</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="life">Public Life</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="boilermaker">Boilermaker House</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="kong">Kong Fitzroy</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="bad">Bad Boys</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="hochi">Hochi Mama</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="leonard">Lenmoards House of Love</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="bacaro">Il Bacaro</div>
      <%= link_to "Click here", "/venue/show" %>

      <div class="pontoon">Pontoon</div>
      <%= link_to "Click here", "/venue/show" %>
