<!DOCTYPE html>
<html>
  <head>
    <title>F/O/O/D</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>

<h1><div class="row">
      <div class="col s4 m4">F O O D</div>
      <div class="col s8 m4"><% if @current_user %>
          <%= link_to "Log Out", "/logout", method: :delete %>
          <%= link_to @current_user.email, user_path(@current_user) %>
          <%= link_to "Edit Profile", edit_user_path(@current_user) %>
        <% else %>

        <h6><%= link_to("Sign up/ Login", "/users") %></h6>
        </div>
    </div>
  </h1>

<nav>
  <%= link_to("Home", "/home") %>
  <%= link_to("Food + Drink", "/venue") %>
  <%= link_to("Blog", "/blog") %>
  <%= link_to("About Us", "/about") %>
</nav>

<nav>
  Search
</nav>


    <%= yield %>
  </body>

</html>
<% end %>
