<!doctype html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" href="../../../../favicon.ico">
	    
	    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" rel="stylesheet">

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	    <!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
	
		<!-- Bootstrap core CSS -->
		<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="album.css" rel="stylesheet">
	    
	    <title>F*O*O*D</title>
	    <%= csrf_meta_tags %>
	
	    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		
  	</head>

  	<body>

    <header>
        <div class="container">
           	<header class="blog-header py-3">
	        	<div class="row flex-nowrap justify-content-between align-items-center">
					<div class="col-4 pt-1">
						<a class="text-muted" href="#">subscribe</a>
	        		</div>
					<div class="col-4 text-center">
						<a class="blog-header-logo text-dark" href="#">f.o.o.d.i.e</a>
	        		</div>
					<div class="col-4 d-flex justify-content-end align-items-center">
						<a class="text-muted" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
	            		</a>
						<button type="button" class="btn btn-link btn-primary "><a href="#">Sign up </a></button>
					</div>
	        	</div>
	      	</header>
	    </div>	
	    
	    <div class="nav-scroller py-1 mb-2 bg-dark">
        	<nav class="nav bg-dark d-flex justify-content-between">
	        	<div class="col-12 d-flex justify-content-center">	
		        	<a class="text-white" href="/venue">FOOD + DRINK</a> 
						<span class="navigation-spacer text-white" aria-hidden="true">|</span>
					<a class="text-white" href="/sydney/art-and-design/">ART + DESIGN</a> 
						<span class="navigation-spacer text-white" aria-hidden="true">|</span>
					<a class="text-white" href="/sydney/entertainment/">ENTERTAINMENT</a> 
						<span class="navigation-spacer text-white" aria-hidden="true">|</span>
					<a class="text-white" href="/sydney/travel/">TRAVEL</a>
						<span class="navigation-spacer text-white" aria-hidden="true">|</span>
					<a class="text-white" href="https://shop.broadsheet.com.au">SHOP</a>
						<span class="navigation-spacer text-white" aria-hidden="true">|</span>
	    		</div>	
	        </nav>
    	</div>
  	</header>

    <main role="main">
	  	<section class="jumbotron text-center">
	        <div class="container">
	        	<h1>Delicious headline</h1>
				<p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
				<p><button type="button" class="btn btn-info"><a class="text-white" href="#">READ MORE </a></button></p>
	        </div>
		</section>

		<div class="album py-5 bg-light">
        	<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="https://www.broadsheet.com.au/media/cache/f4/53/f453b7b6e793a5e341b8e8c68fb0056b.jpg" alt="Card Cap">
							<div class="card-body">
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-outline-info">Read more</button>
									</div>
				                </div>
				            </div>
				        </div>
				    </div>

					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="https://www.broadsheet.com.au/media/cache/2a/29/2a29c99ba8ec9f6ae57b59605610304d.jpg" alt="Card Cap">
							<div class="card-body">
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-outline-info">Read more</button>
                    				</div>
                    			</div>
                			</div>
              			</div>
            		</div>

					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" src="https://www.broadsheet.com.au/media/cache/4d/52/4d52272be59531da12de67208b952b12.jpg" alt="Card Cap">
							<div class="card-body">
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<button type="button" class="btn btn-outline-info">Read more</button>
                    				</div>
            					</div>
                			</div>
        				</div>
        			</div>

		            <div class="col-md-12">
		            	<div class="card mb-8 box-shadow text-center white-text text-white">
		                	<img class="card-img-top" src="https://www.broadsheet.com.au/media/cache/38/d6/38d69ab18e95a34dc96024809f196129.jpg" >
							<div class="card-img-overlay text-center">
				                <div class="card-body">
				                	<p class="card-title">Image 1 - This content is a little bit longer.</p>
					                <div class="d-flex justify-content-between align-items-center">
					                    <div class="btn-group align-center">
					                    	<button type="button" class="btn btn-info">Read more</button>
					                    </div>
					                </div>
				            	</div>
				            </div>    
		              	</div>
		            </div>
		        </div>
				<div class="row">
					<div class="col-md-6">
						<div class="card mb-6 box-shadow text-center white-text text-white">
						<img class="card-img-top" src="https://www.broadsheet.com.au/media/cache/26/b8/26b8f029ff6e6a9dfe8304e1e8daebf7.jpg" alt="Card image cap">
							<div class="card-img-overlay">
								<div class="card-body">
									<p class="card-title">
									<p class="card-text">Image 2 - card with supporting text below as a natural lead-in.</p>
									<div class="d-flex justify-content-between align-items-center text-center">
										<div class="btn-group">
											<button type="button" class="btn btn-info">Read more</button>
                    					</div>
		                			</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
			          	<div class="card mb-6 box-shadow text-center text-white">
			            	<img class="card-img-top" src="https://www.broadsheet.com.au/media/cache/9b/92/9b9295d7fba8ca955ab12b5037ecc333.jpg" alt="Card image cap">
		            		<div class="card-img-overlay">
		                		<div class="card-body">
			                		<p class="card-title">
									<p class="card-text">Image 3 -  card with supporting text below as a natural lead-in.</p>
									<div class="d-flex justify-content-between align-items-center text-center">
										<div class="btn-group">
											<button type="button" class="btn btn-info">Read more</button>
		                    			</div>
				                	</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
		    </div>
		</div>
	</main>
    
    <footer class=" bg-info ">
		<div class="container">		    
		    <div class="row">
		        <div class="col-6 col-md justify-content-left text-white">
					<h5>Features</h5>
						<ul class="list-unstyled text-small text-white">
							<li><a class="text-white" href="#">Cool stuff</a></li>
							<li><a class="text-white" href="#">Random feature</a></li>
							<li><a class="text-white" href="#">Team feature</a></li>
							<li><a class="text-white" href="#">Stuff for developers</a></li>
			            </ul>
		        </div>
		        
		        <div class="col-6 col-md">
		        	<h5>Get Social</h5>
						<ul class="list-unstyled text-small">
							<li><a class="text-white" href="#">Instagram</a></li>
							<li><a class="text-white" href="#">Twitter</a></li>
							<li><a class="text-white" href="#">YouTube</a></li>
							<li><a class="text-white" href="#">SnapChat</a></li>
			          	</ul>
		        </div>
		        
		        <div class="col-6 col-md">
		        	<h5>About</h5>
						<ul class="list-unstyled text-small">
				            <li><a class="text-white" href="#">Team</a></li>
				            <li><a class="text-white" href="#">Locations</a></li>
				            <li><a class="text-white" href="#">Privacy</a></li>
				            <li><a class="text-white" href="#">Terms</a></li>
				        </ul>
			    </div
			</div>
    	</div>	
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
  </body>
</html>


<!--
<!DOCTYPE html>
<html>
  <head>
    <title>F*O*O*D</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" rel="stylesheet">

	<!-- Compiled and minified CSS -->
<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <!-- Compiled and minified CSS -->
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css"> -->

  <!-- Compiled and minified JavaScript -->
<!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

  </head>

  <body>
-->
      <!-- <ul id="slide-out" class="side-nav">
        <li><div class="user-view"> -->
          <!-- <div class="background">
            <img src="images/image.jpg">
          </div> -->
          <!-- <a href="#!user"><img class="circle" src="images/yuna.jpg"></a> -->
          <!-- <a href="#!name"><span class="white-text name">John Doe</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
        <!-- </div></li>
        <li><a href="#!">Home</a></li>
        <li><a href="#!">Food + Drink</a></li>
        <li><a class="waves-effect" href="#!">Blog</a></li>
        <li><a class="waves-effect" href="#!">About Foodie</a></li>
        <li><a class="waves-effect" href="#!">Your Profile</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a> -->

<!--
      <div class="navbar-fixed">
      	<nav>
      		<ul id="dropdown1" class="dropdown-content">
        			<li><a href="#!">Blog</a></li>
      		</ul>

      		<ul id="dropdown2" class="dropdown-content">
        			<li><a href="#!">Restaurants</a></li>
        			<li><a href="#!">Bars</a></li>
        			<li><a href="#!">Cafes</a></li>
      		</ul>

          	<div class="nav-wrapper">
              	<a href="#" class="brand-logo center"></a>
            		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            		<ul class="left hide-on-med-and-down">
              		<li class="active"><a href="/home">F*O*O*D*I*E</a></li>
              		<li><a a class="dropdown-button" data-beloworigin="true" data-hover="true" data-constrainwidth="false" href="/venue" data-activates="dropdown2">Food + Drink</a></li>
              		<li><a class="dropdown-button" data-beloworigin="true" data-hover="true" data-constrainwidth="false" href="#!" data-activates="dropdown1"></a></li>
              		<li><a href="/blog">Blog</a></li>

                  <li><a class="dropdown-button" data-beloworigin="true" data-hover="true" data-constrainwidth="false" href="#!" data-activates="dropdown1"></a></li>
                  <li><a href="/users/new">Sign up</a></li>

                  <li><a class="dropdown-button" data-beloworigin="true" data-hover="true" data-constrainwidth="false" href="#!" data-activates="dropdown1"></a></li>
                  <li><a href="/login">Log In</a></li>
            		</ul>
-->

                <!-- <% if @current_user %>
                  <! <%= link_to @current_user.email, user_path(@current_user) %> -->
                  <!-- <%= link_to "Edit Profile", edit_user_path(@current_user) %>
                  <%= link_to "Log Out", "/logout", method: :delete %>
                <% else %>

                <%= link_to("Sign up", "/users/new") %>
                <%= link_to("Login", "/login") %>

                <% end %> -->

<!--
            		<ul id="mobile-demo" class="side-nav">
      			<li class="no-padding">
                	<ul class="collapsible collapsible-accordion">
                  	<li class="bold"><a class="collapsible-header  waves-effect waves-teal">Dropdown 1</a>
                    	<div class="collapsible-body">
                      	<ul>
                        		<li><a href="#">Link1</a></li>
                        		<li><a href="#">link2</a></li>
                        		<li><a href="#">link3</a></li>
                      	</ul>
                    	</div>
                  	</li>

      				<li class="bold"><a class="collapsible-header  waves-effect waves-teal">Dropdown 2</a>
                    	<div class="collapsible-body">
                      	<ul>
                        		<li><a href="#">link1</a></li>
                        		<li><a href="#">link2</a></li>
                        		<li><a href="#">link3</a></li>
                  		</ul>
                    	</div>
                  	</li>

      				<li class="bold"><a class="collapsible-header  waves-effect waves-teal">Dropdown 3</a>
                    	<div class="collapsible-body">
                      	<ul>
                        		<li><a href="#">link1</a></li>
                        		<li><a href="#">link2</a></li>
                        		<li><a href="#">link3</a></li>
                     		</ul>
                    	</div>
                  	</li>

      				<li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Normal link 1</a></li>
      				<li class="bold"><a href="getting-started.html" class="waves-effect waves-teal">Normal link 2</a></li>
                	</ul>
      			</li>
            		</ul>

          	</div>
        	</nav>
      </div>
-->


      <!-- <div class="col s12 m4">

        <div class="logo">
          <div class="col s12 m4">F*O*O*D*I*E</div>
        </div>

        <% if @current_user %>
          <!- <%= link_to @current_user.email, user_path(@current_user) %> -->
          <!-- <%= link_to "Edit Profile", edit_user_path(@current_user) %>
          <%= link_to "Log Out", "/logout", method: :delete %>
        <% else %>

        <%= link_to("Sign up", "/users/new") %>
        <%= link_to("Login", "/login") %>

        <% end %>

      </div> -->

    <!-- <nav>
      <div class="navbar">
      <%= link_to("Home", "/home") %>
      <%= link_to("Food + Drink", "/venue") %>
      <%= link_to("Blog", "/blog") %>
      <%= link_to("About Us", "/about") %>
      </div>
    </nav> -->

<!--
    <%= yield %>

    <div class="page-wrap"></div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">F*O*O*D</h5>
            <p class="grey-text text-lighten-4">Search for your new favorite place to eat and drink.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Home</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Food + Drink</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">Blog</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="#!">About Us
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright - F*O*O*D*I*E
          </div>
        </div>
      </footer>

    </body>

  </html>
-->
